<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss} %-5level %logger{15}.%M %msg%n
			</pattern>
		</encoder>
	</appender>


	<!--logger name="org.springframework.orm.jpa.JpaTransactionManager" level="DEBUG"/-->
	<!--logger name="org.hibernate.internal.SessionImpl" level="TRACE"/-->

	<!--logger name="org.hibernate.SQL" level="DEBUG" /-->
	<!--logger name="org.hibernate.type.descriptor.sql" level="TRACE" /-->

	<!--logger name="com.ep.Hibernate4All.repository.MovieRepository" level="TRACE"/-->

	<!-- Hibernate after 6 -->
	<logger name="org.hibernate.SQL" level="debug" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	<logger name="org.hibernate.orm.jdbc.bind" level="trace" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	<logger name="org.hibernate.stat" level="debug" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	<logger name="org.hibernate.SQL_SLOW" level="info" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	<logger name="org.hibernate.cache" level="debug" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>