<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="servicePrefix" class="com.ep.service.ServiceInvoiceNumber">
        <property name="invoiceDao" ref="daoMemory"/>
    </bean>

    <bean id="daoMemory" class="com.ep.dao.DaoInvoiceMemory"/>

    <bean id="controllerWeb" class="com.ep.controller.ControllerInvoiceConsole">
        <property name="invoiceService" ref="servicePrefix"/>
    </bean>

</beans>