<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:property-placeholder location="classpath:application.properties"/>
    <context:component-scan base-package="com.ep.controller.web"/>
    <context:component-scan base-package="com.ep.service.prefix"/>
    <context:component-scan base-package="com.ep.repository.db"/>
    <!--<bean class="com.ep.service.prefix.ServiceInvoicePrefix"/>

    <bean class="com.ep.repository.memory.RepositoryInvoiceMemory"/>

    <bean class="com.ep.controller.ControllerInvoiceConsole">
    </bean>-->
</beans>